{{define "register"}}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<div class="content">
  <p id="info" align="center"></p>
  <div class="card" style="max-width: 400px; margin: auto;">
    <div class="card-header">Register New User</div>
    <div class="card-body">
      <div class="login-form">
        <div>
          <label for="useraname"> Username </label>
        </div>
        <div>
          <input id="useraname" class="form-control" type="text" required />
          <span id="user-availability"></span>
        </div>
        <div>
          <label for="name"> Display Name </label>
        </div>
        <div>
          <input id="name" class="form-control" type="text" required />
        </div>
        <div>
          <label for="password"> Password </label>
        </div>
        <div>
          <input id="password" type="password" class="login-field" required />
        </div>
        <div>
          <label for="re_password"> Password </label>
        </div>
        <div>
          <input
            id="re_password"
            type="password"
            class="login-field"
            required
          />
        </div>

        <div>
          <button class="btn btn-success" onclick="register(); return false;">
            Register
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var ctxPath = "/";
  const usernameField = _byId("useraname");
  const nameField = _byId("name");
  const passwordField = _byId("password");
  const rePasswordField = _byId("re_password");
  const usernameAvailabilityInfo = _byId("user-availability");

  usernameField.onkeyup = function (e) {
    checkUsername(e.target.value);
  };

  function checkUsername(username) {
    const requestObject = {
      User:{
        Username: username,
      } 
    };
    postReq("/api/account/checkusername", requestObject, function (xhr) {
      var response = xhr.data;
      var msg;
      var color;
      if (response != null) {
        msg = response.Message;
        color = response.Code == "00" ? "green" : "red";
      } else {
        msg = "SERVER ERROR";
        color = "red";
      }
      usernameAvailabilityInfo.innerHTML = msg;
      usernameAvailabilityInfo.style.color = color;
    });
  }

  function register() {
    if (
      isOneOfInputFieldEmpty(
        rePasswordField,
        passwordField,
        usernameField,
        nameField
      )
    ) {
      alert("Please complete the fields!");
      return;
    }

    if (rePasswordField.value != passwordField.value) {
      alert("Password does not match!");

      return;
    }

    const requestObject = {
      User: {
        DisplayName: nameField.value,
        Username: usernameField.value,
        Password: passwordField.value,
      },
    };
    postReq("/api/account/register", requestObject, function (xhr) {
      var response = xhr.data;
      if (response != null && response.Code == "00") {
        alert("register Success");
        window.location.href = "/account/login";
      } else {
        alert("register Failed");
      }
    });
  }
</script>
{{end}}
